<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8'>
  </head>
  <body>
    <h1>Hi <%= @invited_name %>, <%= @invited_by_user.full_name%> has invited you to join MyFlix</h1>
    <p><%= @invited_by_user.full_name%> says <%= @message %>
    <p>Click the link below to create an account.</p>
    <a href="<%= @url %>">Join MyFlix</a>
  </body>
</html>