%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="#{@video.large_cover_url}")
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span= @video.average_rating ? "Rating: #{@video.average_rating}/5.0" : "No Ratings Yet"
        %p= @video.description
        .actions
          %a.btn.btn-primary(href="") Watch Now
          - params = queue_item_params(current_user, @video)
          = link_to("+ My Queue", queue_items_path(params), method: :post, class: "btn btn-default")
%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_for @review do |f|
        = f.hidden_field :user_id, value: session[:user_id]
        = f.hidden_field :video_id, value: @video.id 
        %fieldset
          .form-group
            %label Rate this video
            .row
              .col-sm-3
                = f.select(:rating, review_rating_options, {}, { class: "form-control" })
          .form-group
            %label Write Review
            .row
              .col-sm-8
                = f.text_area :body, class: "form-control", rows: "6"
        %fieldset.form-group.actions.clearfix
          %input(type="submit" value="Submit" class="btn")
          %a(href="") Cancel
      %header
        %h3 User Reviews (#{@video.reviews.length})
      %ul
        - @video.reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %span Rating: #{review.rating} / 5
                %p by <a href="">#{review.user.full_name}</a>
              .col-sm-8
                %p= review.body ? review.body : "<em>Rating Only</em>".html_safe